spring:
  application:
    name: upload-service
  autoconfigure:
    exclude: io.awspring.cloud.autoconfigure.s3.S3AutoConfiguration
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5001}/${DB_NAME:metadata_db}
    username: ${DB_USERNAME:db_user}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  cloud:
    aws:
      s3:
        endpoint: ${S3_ENDPOINT:http://localhost:4566}
        path-style-access-enabled: true
        bucket-name: ${RAW_BUCKET:raw-video-bucket}
      credentials:
        access-key: ${ACCESS_KEY:test}
        secret-key: ${SECRET_KEY:test}
      region:
        static: ${REGION:us-east-1}

server:
  port: 20001

app:
  s3:
    external-endpoint: ${S3_EXTERNAL_ENDPOINT:http://localhost:4566}
  diagnostic-endpoints: allow

logging:
  level:
    org:
      springframework:
        security: ${SECURITY_LOG_LEVEL:DEBUG}
        web: ${APP_LOG_LEVEL:INFO}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    topic: service-logs