spring:
  application:
    name: video-processing-service
  autoconfigure:
    exclude:
      - io.awspring.cloud.autoconfigure.s3.S3AutoConfiguration
      - io.awspring.cloud.autoconfigure.sqs.SqsAutoConfiguration 
  cloud:
    aws:
      s3:
        endpoint: ${S3_ENDPOINT:http://localhost:4566}
        path-style-access-enabled: true
      sqs:
        endpoint: ${SQS_ENDPOINT:http://localhost:4566}
        region: ${REGION:us-east-1}
        listener:
          concurrency: 1
          max-messages-per-poll: 1
          visibility-timeout: 3600
      credentials:
        access-key: ${ACCESS_KEY:test}
        secret-key: ${SECRET_KEY:test}
      region:
        static: ${REGION:us-east-1}
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5001}/${DB_NAME:metadata_db}
    username: ${DB_USERNAME:db_user}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
app:
  buckets:
    raw: ${RAW_BUCKET:raw-video-bucket}
    streams: ${STREAMS_BUCKET:streams-bucket}
server:
  port: 20009
video:
  encoding:
    mode: ${ENCODING_MODE:auto} # auto, gpu, cpu
    preset:
      gpu: p4 # p1-p7
      cpu: faster # ultrafast to veryslow
  segment:
    duration: ${SEGMENT_DURATION:10}
logging:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    topic: service-logs